---
import Layout from "@/layouts/Article.astro";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    const [lang, ...id] = post.id.split("/");
    return { params: { lang, id: id.join("/") || undefined }, props: post };
  });
}

const { lang } = Astro.params;
const post = Astro.props;

const { Content } = await render(post);
const title = post.data.title;
---

<Layout {title}>
  {
    post.data.cover && (
      <Image src={post.data.cover} alt={post.data.title} class="cover" />
    )
  }

  <header>
    <h1>{title}</h1>
    <time datetime={post.data.date.toISOString()}>
      {post.data.date.toLocaleDateString(lang)}
    </time>
  </header>

  <Content class="material-icons" />
</Layout>

<style>
  header {
    text-align: center;
    border-block-end: 1px solid var(--color-theme);
    padding-block-end: var(--sp-m);
    h1 {
      color: var(--color-theme);
      font-size: 1.8rem;
    }
  }
  .cover {
    border-radius: 16px;
    margin: 0;
  }
</style>
