---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import PageHeadline from "@/components/PageHeadline.astro";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const posts = (await getCollection("blog"))
  .filter((post) => post.id.split("/")[0] === locale)
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());

const title = t({
  ja: "ブログ",
  en: "Blog",
  "zh-cn": "博客",
  ar: "مدونة",
});

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout {title}>
  <PageHeadline {title} />

  <p>
    {
      t({
        ja: "ブログやニュースコンテンツを管理したい場合のサンプルです。Astroのコンテンツコレクションを利用しています。",
        en: "A sample for managing blog or news content. It uses Astro's content collection.",
        "zh-cn": "用于管理博客或新闻内容的示例。它使用了Astro的内容集合。",
        ar: "عينة لإدارة محتوى المدونة أو الأخبار. يستخدم مجموعة محتويات Astro.",
      })
    }
  </p>

  <p>
    <a
      href={`https://docs.astro.build/${Astro.currentLocale}/guides/content-collections/`}
      target="_blank"
    >
      Content Collection | Astro Docs
      <span class="material-icons-sharp dir"> open_in_new </span>
    </a>
  </p>

  <ul>
    {
      posts.map((post) => {
        const [, ...id] = post.id.split("/");
        return (
          <li>
            <a href={`/${locale}/blog/${id.join("/")}/`}>
              {post.data.cover && (
                <Image src={post.data.cover} alt={post.data.title} />
              )}
              <h2>{post.data.title}</h2>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style>
  p {
    margin-block-start: var(--sp-s);
  }
  ul {
    margin-block-start: var(--sp-m);
    display: grid;
    gap: var(--sp-s);
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  li {
    margin-block-end: 1rem;
    img {
      border-radius: 6px;
    }
  }
</style>
